body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex:1;
}

.navbar{
    height: 5rem;
    background-color: white;
}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
}

/* Footer */
.f-info{
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: space-evenly;
    height: 8rem;
}
.f-info-link a{
    text-decoration: none;
    color: #222222;
}

.f-info-socials i{
    font-size: 1.2rem;
}

/* Cards */
.listing-card{
    margin-bottom: 2rem;
    border: none !important;
}

.card-img-top{
    border-radius: 1rem !important;
    object-fit: cover !important;
    width: 100% !important;
}

.card-body{
    padding: 0 !important;
}

.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

.btns{
    display: flex;
}
.btns .btn{
    margin-right: 5px;
    background-color: #fe424d;
    border: none;
}

/* show card */
.show-card{
    width: 38rem;
}
.show-card img{
    height: 15rem;
}